{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="../static/styles/index.css" /> {% endblock %} {%
block title %} Home | ImmunoTrack {% endblock %} {% block body%}
<main>
  <section class="flex">
    <div class="side-gutter"></div>
    <div class="middle-subsection country-search revert">
      <h1 class="text-center">World Vaccinations Statistics</h1>
      <!-- autocomplete form with countries -->
      <form autocomplete="off" action="/country-search" method="POST">
        <div class="autocomplete">
          <input
            id="myInput"
            type="text"
            name="myCountry"
            placeholder="Country"
            data="{{county_list}}"
            required
          />
        </div>
        <input type="submit" value="Submit" />
      </form>
      <div class="search-results">
        <h2 class="text-center">
          <i class="fas fa-map-marker-alt"></i>
          {{ country_dict.country }}
          <i class="fas fa-map-marker-alt"></i>
        </h2>

        <div class="sub-search-results">
          <div class="sub-flex">
            <h3 class="text-center">Total Vaccinations</h3>
            <p class="text-center">
              <sub>
              {{ country_dict.vaccines }}
              </sub>
            </p>
            <h3 class="text-center">
              <i class="fas fa-prescription-bottle"></i>
            </h3>
            <p class="text-center">{{ format_number(country_dict.total_vaccinations) }}</p>
          </div>
          <div class="sub-flex">
            <h3 class="text-center">People Vaccinated</h3>
            <h3 class="text-center">(1 shot)</h3>
            <h3 class="text-center"><i class="fas fa-syringe"></i></h3>
            <p class="text-center">{{ format_number(country_dict.people_vaccinated) }}</p>
          </div>
          <div class="sub-flex">
            <h3 class="text-center">Fully Vaccinated</h3>
            <h3 class="text-center">(2 shots)</h3>
            <h3 class="text-center">
              <i class="fas fa-syringe"></i>
              <i class="fas fa-syringe"></i>
            </h3>
            <p class="text-center">
              {{ format_number(country_dict.people_fully_vaccinated) }}
            </p>
          </div>
        </div>        
        <sub class="floated-left"><strong>Last updated: </strong> {{ country_dict.last_updated }}</sub>
        
        <sub class="floated-right">
          <strong>Source: </strong
          ><a href="{{ country_dict.source }}"><em>here.</em></a>
        </p>
      </div>
    </div>
    <div class="side-gutter"></div>
  </section>
  <div class="side-gutter"></div>
</main>

<!-- 
  {
    'country': 'Saudi Arabia', 
    'total_vaccinations': '7136669', 
    'people_vaccinated': 0, 
    'people_fully_vaccinated': 0, 
    'last_updated': '2021-04-18', 
    'vaccines': 'Oxford/AstraZeneca, Pfizer/BioNTech', 
    'source': 'https://coronamap.sa'
  }
 -->

<script src="../static/scripts/index.js"></script>
<script>
  var country_list = JSON.parse('{{ country_list | tojson }}');
  console.log(country_list);
  var country_dict = JSON.parse('{{ country_dict | tojson }}');
  console.log(country_dict);
  autocomplete(document.getElementById('myInput'), country_list);
</script>
<script>
  style_active_link(0);
</script>
{% endblock %}
