{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="../static/styles/index.css" /> {% endblock %} {%
block title %} Home | ImmunoTrack {% endblock %} {% block body%}
<main>
  <section class="flex">
    <div class="side-gutter"></div>
    <div class="middle-subsection country-search">
      <h1 class="text-center">World Vaccinations Statistics</h1>
      <!-- autocomplete form with countries -->
      <form autocomplete="off" action="/country-search" method="POST">
        <div class="autocomplete">
          <input
            id="myInput"
            type="text"
            name="myCountry"
            placeholder="Country"
            data="{{county_list}}"
            required
          />
        </div>
        <input type="submit" value="Submit" />
      </form>
    </div>
    <div class="side-gutter"></div>
  </section>
  <!-- <section>
    <h1>How does this website work?</h1>
  </section> -->
  <div class="side-gutter"></div>
</main>

<script src="../static/scripts/index.js"></script>
<script>
  var country_list = JSON.parse('{{ country_list | tojson }}');
  console.log(country_list);
  autocomplete(document.getElementById('myInput'), country_list);
</script>
<script>
  style_active_link(0);
</script>
{% endblock %}
