.container {
   display: flex;
   margin-top: 3vh;
}
.side-gutter {
   flex: 1;
}
.middle-gutter {
   flex: 8;
   display: flex;
   flex-direction: column;
}
.half {
   padding: 10px;
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.screen-based-flex {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
}
.screen-based-flex:last-child {
   margin-bottom: 5vh;
}
i {
   color: #ec831d;
   font-size: 3em;
}
h2 {
   color: #ac2626;
   font-size: 3em;
}

.text-center {
   margin-left: auto;
   margin-right: auto;
}

@media screen and (max-width: 780px) {
   .screen-based-flex:nth-child(odd) {
      flex: 25;
      flex-direction: column-reverse;
   }
   .screen-based-flex:nth-child(even) {
      flex: 25;
      flex-direction: column;
   }
   i,
   h2 {
      font-size: 2em;
   }
}
