section {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

section a {
  margin: auto;
}

h2 {
  text-decoration: underline;
}

section.logout {
  margin-bottom: 20px;
}

.add {
  color: #fff;
  background-color: darkgreen;
}

.logout {
  color: #fff;
  background-color: #a62626;
}

.add:hover {
  color: #fff;
  background-color: rgba(1, 187, 1, 0.808);
  text-decoration: none;
}

.logout:hover {
  color: #fff;
  background-color: #d14242;
  text-decoration: none;
}
