section {
  margin-bottom: 20px;
}
.left-div {
  height: 200px;
  background-image: url('../images/covid-vaccine.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.right-div {
  padding: 10px;
  background-image: linear-gradient(to bottom right, #373735, #eac7c5);
}

/* styleing the dynamic input field*/
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 0.5vw;
  font-size: 2vw;
  border-radius: 5px;
}
form {
  margin: auto;
}
input[type='text'] {
  background-color: #f1f1f1;
  width: 20vw;
}
input[type='submit'] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  font-size: 2vw;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
