/* defining universal variables */
:root {
   --dark-red: #ac2626;
   --baltic-sea-color: #343a40;
   --white-smoke: #f1f1f1;
   --minimum-footer-height: 10vh;
}

.nav-item {
   font-size: larger;
   margin: 0px 10px;
}
.nav-link {
   padding: 4px;
}
header {
   background-color: #fdf9fc;
}
html {
   min-height: 100%;
   position: relative;
}
body {
   margin-top: 52.8px;
   padding-bottom: var(--minimum-footer-height);
}

* h1 {
   font-size: 3.5vw;
}
* h2 {
   font-size: 3vw;
}
* h3 {
   font-size: 2.5vw;
}

* p {
   font-size: 2vw;
}

footer {
   background-color: var(--baltic-sea-color);
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   min-height: var(--minimum-footer-height);
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

/* hide the google translate top bar when translation is active */
.skiptranslate iframe {
   display: none;
}

#google_translate_element {
   display: inline;
   padding: 5px;
   width: 161px;
   height: 55px;
}

.footer-logo {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2em;
   color: #fff;
   font-weight: bold;
   padding: 5px;
}
.no-copy {
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}

@media screen and (max-width: 425px) {
   :root {
      --minimum-footer-height: 15vh;
   }
}

@media (max-width: 640px) {
   * h1 {
      font-size: 7vw;
   }
   * h2 {
      font-size: 6vw;
   }
   * h3 {
      font-size: 5vw;
   }

   * p,
   * li,
   * label {
      font-size: 4vw !important;
   }
}
